@font-face {
    font-family: archivo;
    src: url(../fonts/Archivo.ttf);
}

@font-face {
    font-family: andada-pro;
    src: url(../fonts/andada-pro.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/open-sans.ttf);
}