@charset "UTF-8";

@import url(font.css);
@import url(variable.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    font-family: var(--font-base);
}

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 24px 23px 0px;
}

/* Top site */

.header {
    width: 100%;
    display: flex;
    justify-content: center;

    @media(min-width: 768px) {
        justify-content: space-between;
        align-items: center;
        padding: 0px 32px;
    }
}

.header-img {
   width: 101px;
   height: 48px;

   @media(min-width: 768px) {
    width: 135px;
    height: 64px;
   }

   @media(min-width: 1024px) {
    width: 166px;
    height: 80px;
   }
}

.header-social {
    display: none;

    @media(min-width: 768px) {
        display: flex;
    }
}

.header-social__icon {
    width: 200px;
    height: 32px;

    @media(min-width: 1024px) {
        width: 232px;
        height: 40px;
    }
}

/* Main site */

.main-container {
    display: flex;
}

.hero-img {
    width: 250px;
    height: 184px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;

}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
        justify-content: center;
        max-width: 448px;
        margin: 0 auto;
    }
}

.content-wrapper__creator {
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-tertiary);
    margin-bottom: 8px;
}

.content-wrapper__title {
    color: white;
    font-weight: 800;
    font-size: 40px;
    font-family: var(--font-secondary);
    margin-bottom: 32px;
}

.content-wrapper__paragraph {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
}

/* Button */

.wrapper-btn {
    display: flex;
}

.wrapper-btn__group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 32px;

    @media(min-width: 768px) {
        justify-content: center;
        max-width: 448px;
        margin: 0 auto;
    }
}

.content-btn__play {
    background: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 32px;
    border-radius: 4px;
    border: none;
}

.content-btn__play2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid var(--cor01);
}

.content-btn__paragraph {
    font-family: var(--font-alternative);
    font-weight: 700;
    font-size: 18px;
}

